.place__section {
    margin: 32px 103px 0;
}

.place__back {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.place__back:hover {
    text-decoration: underline;
    cursor: pointer;
}

.place__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 318px);
    gap: 30px;
    margin-top: 10px;
}

.place__grid-container_khibiny {
    grid-template-rows: 
        repeat(2, 477px) 
        repeat(2, 708px) 
        503px 1050px 
        477px 
        708px 
        1050px 
        477px 
        708px 
        477px 
        708px;
    grid-template-areas:
    "khibiny1 khibiny1 khibiny2"
    "khibiny3 . ."
    "khibiny4 khibiny4 khibiny4"
    "khibiny5 khibiny5 khibiny5"
    "khibiny6 khibiny7 khibiny8"
    "khibiny9 khibiny9 ."
    "khibiny10 khibiny11 khibiny11"
    "khibiny12 khibiny12 khibiny12"
    ". khibiny13 khibiny13"
    "khibiny14 khibiny14 khibiny15"
    "khibiny16 khibiny16 khibiny16"
    "khibiny17 khibiny18 ."
    "khibiny19 khibiny19 khibiny19";
}

.place__grid-container_dagestan {
    grid-template-rows: 
        477px
        1050px
        repeat(3, 708px 477px)
        708px
        1050px
        repeat(2, 477px 708px)
        1050px
        477px
        708px;
    grid-template-areas:
    "dagestan1 dagestan1 dagestan2"
    ". dagestan3 dagestan3"
    "dagestan4 dagestan4 dagestan4"
    "dagestan5 dagestan5 dagestan6"
    "dagestan7 dagestan7 dagestan7"
    "dagestan8 . ."
    "dagestan9 dagestan9 dagestan9"
    ". dagestan10 dagestan11"
    "dagestan12 dagestan12 dagestan12"
    "dagestan13 dagestan13 ."
    ". dagestan14 dagestan15"
    "dagestan16 dagestan16 dagestan16"
    "dagestan17 dagestan17 dagestan18"
    "dagestan19 dagestan19 dagestan19"
    "dagestan20 dagestan20 ."
    "dagestan21 dagestan22 dagestan22"
    "dagestan23 dagestan23 dagestan23"
    ". dagestan24 dagestan24";
}

.place__grid-container_elbrus {
    grid-template-rows: 
        repeat(2, 708px 477px 1050px)
        708px
        repeat(2, 477px)
        708px
        1050px
        477px
        708px
        repeat(2, 477px);
    grid-template-areas:
    "elbrus1 elbrus1 elbrus1"
    ". elbrus2 elbrus3"
    "elbrus4 elbrus4 ."
    "elbrus5 elbrus5 elbrus5"
    "elbrus6 elbrus7 elbrus8"
    ". elbrus9 elbrus9"
    "elbrus10 elbrus10 elbrus10"
    "elbrus11 elbrus12 elbrus13"
    "elbrus14 . ."
    "elbrus15 elbrus15 elbrus15"
    "elbrus16 elbrus16 ."
    "elbrus17 elbrus18 elbrus18"
    "elbrus19 elbrus19 elbrus19"
    "elbrus20 elbrus20 ."
    ". elbrus21 elbrus21";
}

.place__grid-container_arkhyz {
    grid-template-rows: 
        1050px
        477px
        repeat(2, 708px)
        477px
        1050px
        repeat(2, 477px)
        708px
        477px
        1050px
        477px
        708px
        1050px
        repeat(2, 477px)
        708px
        1050px
        477px;
    grid-template-areas:
        "arkhyz1 arkhyz1 ."
        ". arkhyz2 arkhyz3"
        "arkhyz4 arkhyz4 arkhyz4"
        "arkhyz5 arkhyz5 arkhyz5"
        "arkhyz6 arkhyz7 arkhyz7"
        "arkhyz8 arkhyz8 ."
        ". arkhyz9 arkhyz9"
        "arkhyz10 arkhyz10 arkhyz11"
        "arkhyz12 arkhyz12 arkhyz12"
        "arkhyz13 arkhyz13 ."
        ". arkhyz14 arkhyz14"
        "arkhyz15 arkhyz15 arkhyz16"
        "arkhyz17 arkhyz17 arkhyz17"
        "arkhyz18 arkhyz18 ."
        "arkhyz19 arkhyz20 arkhyz20"
        ". . arkhyz21"
        "arkhyz22 arkhyz22 arkhyz22"
        "arkhyz23 arkhyz23 ."
        "arkhyz24 arkhyz24 arkhyz25";
}

.place__grid-container_france {
    grid-template-rows: 
        477px
        1050px
        477px
        708px
        477px
        repeat(2, 1050px 477px 708px)
        repeat(2, 477px)
        708px
        1050px
        repeat(2, 477px)
        708px
        1050px
        ;
    grid-template-areas:
    "france1 france2 france2"
    "france3 france3 ."
    "france4 france5 france6"
    "france7 france7 france7"
    "france8 france8 france9"
    ". france10 france10"
    "france11 france12 ."
    "france13 france13 france13"
    "france14 france14 ."
    ". france15 france16"
    "france17 france17 france17"
    ". . france18"
    "france19 france20 france20"
    "france21 france21 france21"
    "france22 france22 ."
    "france23 france24 france24"
    ". . france25"
    "france26 france26 france26"
    "france27 france27 .";
}

.place__grid-container_italy {
    grid-template-rows: 
        1050px
        477px
        repeat(2, 708px)
        477px
        1050px
        708px
        repeat(2, 477px)
        1050px
        repeat(2, 477px)
        1050px
        ;
    grid-template-areas:
    "italy1 italy1 ."
    ". italy2 italy3"
    "italy4 italy4 italy4"
    "italy5 italy5 italy5"
    "italy6 . ."
    "italy7 italy7 ."
    "italy8 italy8 italy8"
    ". italy9 italy10"
    "italy11 italy11 ."
    ". italy12 italy12"
    "italy13 italy14 italy15"
    "italy16 italy17 italy18"
    "italy19 italy19 ."
    ;
}