.header {
    display: flex;
    margin: 40px 103px 0;
    justify-content: space-between;
    width: 1014px;
}

.header__link {
    text-decoration: none;
    color: black;
    cursor: default;
}

.header__link:hover {
    cursor: pointer;
}

.header__title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    margin: 0;
}

.header__contacts {
    display: flex;
}

.header__email {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    margin: 0;
    margin-right: 10px;
    cursor: default;
}

.header__insta {
    cursor: default;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../../images/icon.svg);
}

.header__insta:hover {
    cursor: pointer;
    background-image: url(../../images/icon-chosen.svg);
}

@media screen and (max-width: 1279px) {
    .header {
        width: unset;
    }
}