.footer {
    margin: 40px 103px 0;
    width: 1014px;
}

.footer__rights {
    margin: 0;
    font-size: 14px;
    padding-bottom: 40px;
}

@media screen and (max-width: 1050px) {
    .footer {
        width: unset;
    }
}
