.footer {
    margin: 40px 103px 0;
    width: 1014px;
}

.footer__rights {
    margin: 0;
    font-size: 14px;
    padding-bottom: 40px;
}

.footer__link {
    color: black;
}

@media screen and (max-width: 1050px) {
    .footer {
        width: calc(100vw - 80px);
    }
}

@media screen and (max-width: 450px) {
    .footer {
        width: calc(100vw - 40px);
        margin-top: 60px;
    }

    .footer__rights {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 360px) {
    .footer {
        margin-top: 10px;
    }
}
